@{
    ViewBag.Title = "About";
}
<h2 class="my-4">Информация о проекте</h2>
<p>
    Наш сайт был создан не только для того, чтобы собрать ранобэ на русском в одной точке
    рунета. Дабы каждый раз не серфить инет в поисках очередного перевода, достаточно заглянуть к нам)))
    Вы можете, как прочитать ранобэ онлайн, так и скачать.
</p>
