@{
    ViewBag.Title = "Контакты";
}
<h2 class="my-4">@ViewBag.Title.</h2>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<div class="row">
    <div class="col-sm-6">
        <h4> Консультации и заказ по телефонам </h4>
        <h6>
            (044) 537-02-22<br>
            (044) 503-80-80<br>
            0 800 503-808
        </h6>
    </div>
    <div class="col-sm-6">
        <h4>График работы колл-центра</h4>
        <h6>с 8:00 до 21:00</h6>
        <h6>
            В субботу: с 9:00 до 20:00 <br>
            В воскресенье: с 10:00 до 19:00
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Выставочные залы</h4>
        <h6>
            г. Киев, ул. Ярославская, 57	<br>
            тел.: (044) 427-25-63
        </h6>
    </div>
    <div class="col-sm-6">
        <h4>График работы</h4>
        <h6>с 10:00 до 21:00</h6>
        <h6>
            В субботу: с 10:00 до 19:00 <br>
            В воскресенье: с 10:00 до 17:00
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Библиотека</h4>
        <h6>
            г. Киев, ул. Ярославская, 57 <br>
            тел.: (044) 502-84-47
        </h6>
    </div>
    <div class="col-sm-6">
        <h4>График работы</h4>
        <h6>с 10:00 до 19:00</h6>
        <h6>
            В субботу: с 10:00 до 17:00 <br>
            В воскресенье: выходной
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Книжные вечеринки</h4>
        <h6>
            г. Киев, ул. Ярославская, 57	<br>
            тел.: (044) 427-25-63
        </h6>
    </div>
    <div class="col-sm-6">
        <h4>График работы</h4>
        <h6>с 14:00 до 19:00</h6>
        <h6>
            В субботу: с 17:00 до 18:00 <br>
            В воскресенье: выходной
        </h6>
    </div>
</div>