
@{
    ViewBag.Title = "Правила";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="my-4">@ViewBag.Title</h2>

<div class="content rules">
    <h1>Общие правила на сайте</h1>
    <div class="rightimg"><img src="Content/Images/loli1.jpg" height="278" width="109" alt=""></div>
    <h3>Общие правила поведения на сайте:</h3>
    <p>
        Начнем с того, что на сайте общаются сотни людей, разных взглядов и возраста,
        и все они являются полноправными посетителями нашего сайта, поэтому если мы хотим
        чтобы это сообщество людей функционировало нам и необходимы правила. Мы настоятельно
        рекомендуем прочитать правила, это займет у вас всего минут пять, но сбережет нам и
        вам время и поможет сделать сайт более интересным и организованным.
    </p>
    <div class="leftimg"><img src="Content/Images/loli2.jpg" height="278" width="109" alt=""></div>
    <p>
        Начнем с того, что на нашем сайте нужно вести себя уважительно ко всем посетителям сайта.
        Не надо оскорблений по отношению к участникам, это всегда лишнее. Если есть претензии - обращайтесь к
        Админам или Модераторам (воспользуйтесь личными сообщениями). Оскорбление других посетителей считается
        у нас одним из самых тяжких нарушений и строго наказывается администрацией. У нас строго запрещен расизм,
        религиозные и политические высказывания. Заранее благодарим вас за понимание и за желание сделать наш сайт
        более вежливым и дружелюбным.
    </p>
    <h3>На сайте строго запрещено: </h3>
    <p>
        - сообщения, не относящиеся к содержанию статьи или к контексту обсуждения<br>
        - оскорбление и угрозы в адрес посетителей сайта<br>
        - в комментариях запрещаются выражения, содержащие ненормативную лексику, унижающие человеческое достоинство, разжигающие межнациональную рознь<br>
        - спам, а также реклама любых товаров и услуг, иных ресурсов, СМИ или событий, не относящихся к контексту обсуждения статьи<br>
        Давайте будем уважать друг друга и сайт, на который Вы и другие читатели приходят пообщаться и высказать свои мысли. Администрация сайта оставляет за собой право удалять комментарии или часть комментариев, если они не соответствуют данным требованиям.
    </p>
</div>